<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image, size:'100x100' %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= link_to book_path(book.id) do %>
  <%= image_tag book.user.get_profile_image, size:'100x100' %>
  <% end %></p>
  <p>タイトル：<%= book.title %></p>
  <p>説明：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>